.board{
    width: max-content;
    margin: 100px auto;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameOverShow{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: hsla(0,0%,100%,.13);
    border: 2px solid hsla(0,0%,100%,.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,.6);
    transform: translate(-50%, -50%);
    height: 50%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.gameOverShow p{
    color: goldenrod;
    font-size: 25px;
}
.gameOver{
    display: none;
    padding: 20px;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: hsla(0,0%,100%,.13);
    border: 2px solid hsla(0,0%,100%,.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,.6);
    transform: translate(-50%, -50%);
    height: 50%;
}

.btn {
    width: max-content;
    padding: 15px 15px;
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    font-size: 18px;
    border: none;
    background-color: #34495e;
    cursor: pointer;
  }
  